body {
  font-family: 'Roboto', sans-serif;
}

.login-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #dbe2e5;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 25px 20px 10px rgba(0, 0, 0, 0.1);
  border: none;
  

}

.form-group {
  margin-bottom: 20px;


}

label {
  display: block;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 14px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

.text-center {
  text-align: center;
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}