<!-- 

<div class="offer-window">
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>Duration (days)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>7000</td>
                <td>1 year + 1 Monrh Free (GYM)</td>
                <td>395</td>
            </tr>
            <tr>
                <td>7000</td>
                <td>1-Yearly Renewal membership (GYM)</td>
                <td>365</td>
            </tr>
            <tr>
                <td>8000</td>
                <td>18% GST</td>
                <td></td>
            </tr>
            <tr>
                <td>5000</td>
                <td>1 year Special Offer (GYM)</td>
                <td>365</td>
            </tr>
            <tr>
                <td></td>
                <td>3 Months Plan (GYM)</td>
                <td>90</td>
            </tr>
            <tr>
                <td>7000</td>
                <td>2 Montbe (CVM) 1 year + 1 Monrh Free ( GYM )</td>
                <td>395</td>
            </tr>
        </tbody>
    </table>
    <p>This is the offer content.</p>
    
  </div>
   -->
<div class="mainOffer">MEMBERSHIP PLAN</div>
<div class="offer-window">
    <div class="offer-card">
        <div class="offer-details">
            <div class="amount">7000&#8377; </div>
            <div class="description">1 year + 1 Month Free (GYM)</div>
            <div class="duration">395 days</div>
            

        </div>
    </div>
    <div class="offer-card">
        <div class="offer-details">
            <div class="amount">7000&#8377;</div>
            <div class="description">1-Yearly Renewal membership (GYM)</div>
            <div class="duration">365 days</div>
            
        </div>
    </div>
    <div class="offer-card">
        <div class="offer-details">
            <div class="amount">7000&#8377;</div>
            <div class="description">1-Year Special Offer (GYM)</div>
            <div class="duration">365 days</div>
            
        </div>
    </div>
    <div class="offer-card">
        <div class="offer-details">
            <div class="amount">8000&#8377;</div>
            <div class="description">1-Yearly Renewal membership (GYM)</div>
            <div class="duration">365 days</div>
            
        </div>
    </div>
    <div class="offer-card">
        <div class="offer-details">
            <div class="amount">5000&#8377;</div>
            <div class="description">3 Months Plan (GYM)</div>
            <div class="duration">365 days</div>
            
        </div>
    </div>
    <div class="offer-card">
        <div class="offer-details">
            <div class="amount">3500&#8377;</div>
            <div class="description">2 Months (GYM)</div>
            <div class="duration">60 days</div>
            
        </div>
    </div>
    <div class="offer-card">
        <div class="offer-details">
            <div class="amount">6000&#8377;</div>
            <div class="description">6 Months (GYM)</div>
            <div class="duration">180 days</div>
            
        </div>
    </div>
    <div class="offer-card">
        <div class="offer-details">
            <div class="amount">2000&#8377;</div>
            <div class="description">1 Months (GYM)</div>
            <div class="duration">30 days</div>
            

        </div>
    </div>
</div>