<div class="main">MEASUREMENT</div>
<table>
      <tr>
        <td>Date:</td>
        <td>Mar 22, 2024</td>
      </tr>
      <tr>
        <td>Age:</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Height:</td>
        <td>169</td>
      </tr>
      <tr>
        <td>Weight:</td>
        <td>55.3</td>
      </tr>
      <tr>
        <td>Neck:</td>
        <td>12.8</td>
      </tr>
      <tr>
        <td>Shoulder (Round):</td>
        <td>17</td>
      </tr>
      <tr>
        <td>Chest:</td>
        <td>33</td>
      </tr>
      <tr>
        <td>Waist:</td>
        <td>32</td>
      </tr>
      <tr>
        <td>R Arm:</td>
        <td></td>
      </tr>
      <tr>
        <td>L Arm:</td>
        <td></td>
      </tr>
      <tr>
        <td>Navel Point:</td>
        <td>27</td>
      </tr>
      <tr>
        <td>L Navel Point:</td>
        <td></td>
      </tr>
      <tr>
        <td>Thigh R:</td>
        <td></td>
      </tr>
      <tr>
        <td>Thigh L:</td>
        <td></td>
      </tr>
      <tr>
        <td>R Calves:</td>
        <td></td>
      </tr>
      <tr>
        <td>L Calves:</td>
        <td></td>
      </tr>
      <tr>
        <td>Hips:</td>
        <td>34</td>
      </tr>
      <tr>
        <td>Calves:</td>
        <td>12</td>
      </tr>
      <tr>
        <td>U Thigh:</td>
        <td></td>
      </tr>
  </table>