    <div class="container">WORKOUT SCHEDULE</div>
	<div class="workout-plan">
		<h1>Muscle Gain</h1>
		<h3>Workout: Monday & Thursday</h3>
		<h4>Warm-up (Do Everyday)</h4>
		<p>Neck up & down / Neck side to side / Shoulder Rotation / Wrist Rotation / Side Bending / Crossover Touch & Reach / Toe touch / Hip Rotation / Knee-up / Squat</p>
		<h4>Exercise: Chest & Triceps</h4>
        <h4>30 Sec rest between one exerceise</h4>
		<ul>
			<li>1.  Push-ups: 20 to 50</li>
			<li>2.  Pull-ups: 20 to 30</li>
			<li>3.  Bench press: 12*2 (Flat/Incline/Decline)</li>
			<li>4.  Chest Press Machine: 12*3</li>
			<li>5.  Pac Fly Machine: 12*3</li>
			<li>6.  Triceps Push Down Machine: 12*3</li>
			<li>7.  Both Hand Extension: 12*3</li>
			<li>8.  Bench Dips: 12*3</li>
			<li>9.  Parallel Bar Dips: 12*3</li>
			<li>10. Cable Tricep Puss Down: 12*3</li>
		</ul>
	</div>


    <div class="workout-plan">
		<h1>Muscle Gain</h1>
		<h3>Workout: Tuesday & Friday</h3>
		<h4>Warm-up (Do Everyday)</h4>
		<p>Neck up & down / Neck side to side / Shoulder Rotation / Wrist Rotation / Side Bending / Crossover Touch & Reach / Toe touch / Hip Rotation / Knee-up / Squat</p>
		<h4>Exercise: Shoulder & Leg</h4>
        <h4>30 Sec rest between one exerceise</h4>
		<ul>
			<li>1.  Smith Machine Shoulder Press OR Shoulder
                Press Machine</li>
			<li>2.  Dumbbell Shoulder Press 12*3</li>
			<li>3.  Front Raise 12*3</li>
			<li>4.  Lateral Raise 12*3</li>
			<li>5.  Revers Pac Fly 12*3</li>
			<li>6.  Shrugs 12*3</li>
			<li>7.  Leg Press Machine 12*3</li>
			<li>8.  Leg Extension 12*3</li>
			<li>9.  Seated Calf Raise 12*3</li>
			<li>10. Leg Curl 12*3</li>
            <li><b>Second Time</b></li>

            <li>1.  Barbell Squat 12*3</li>
            <li>2.  Hack Squat 12*3</li>
            <li>3.  Leg Adductor Abductor 12*3</li>
            <li>4.  Hip Thrust 12*3</li>
            <li>5.  Glut machine 12*3</li>

            <li><b>Cardio Workout ---</b></li>

            <li>1.  Running 10 min.</li>
            <li>2.  Cycling 10 min.</li>
            <li>3.  Cross Trainer 10 min.</li>



            <li><b>ABS. Workout</b></li>
            <li>Minimum 30 sec. Rest Between One Set</li>

            <li>1.  Hyper Extension 10*2</li>
            <li>2.  Twister 20*2</li>
            <li>3.  Hanging Leg Raises--10*2</li>
            <li>4.  Bench Crunches--10 Repetition</li>
            <li>5.  Ab Machine 12*3</li>


            <li>#Strerching# Neck Stretching / Shoulder
                Stretching / Chest Stretching / Fore-arms
                Stretching / Side Bending Stretching / Forward
                Hang / Gluts Stretch</li>
		</ul>
	</div>


    
	<div class="workout-plan">
		<h1>Muscle Gain</h1>
		<h3>Workout: Wednesday & Saturday</h3>
		<h4>Warm-up (Do Everyday)</h4>
		<p>Neck up & down / Neck side to side / Shoulder Rotation / Wrist Rotation / Side Bending / Crossover Touch & Reach / Toe touch / Hip Rotation / Knee-up / Squat</p>
		<h4>Exercise: Back & Biceps</h4>
        <h4>30 Sec rest between one exerceise</h4>
		<ul>
			<li>1.  One Hand Row 12*3</li>
			<li>2.  Let Pull Down 12*3</li>
			<li>3.  Low Row Machine 12*3</li>
			<li>4.  T-Bar 12*2</li>
			<li>5.  Dumbbells Curl 12*2</li>
			<li>6.  Pritcher Curl 12*2</li>
			<li>7.  Hammer Curl 12*2</li>
			<li>8.  Cable Curl Machine 12*3</li>
			<li>9.  Wrist Curl 10*3</li>

            <li>#Strerching# Neck Stretching / Shoulder Stretching / Chest
                Stretching / Fore-arms Stretching / Side
                Bending Stretching / Forward Hang / Gluts
                Stretch</li>
		</ul>
	</div>
