<div class="container d-flex row justify-content-center">
    <div class="card">
        <h2>Category: Vegetarian - Muscle Gain Diet Plan</h2>
        <p>Assigned Date: 2021-08-01</p>
        <ul>
            <li><strong>Diet: </strong>1</li>
            <li><strong>Time:</strong> 07:00</li>
            <li><strong>Qty:</strong> 1</li>
            <li>2 Bananas + Dry Fruits + Gainer / Protein Shake Breakfast Peanut Butter + 4</li>
        </ul>
        <ul>
            <li><strong>Diet: </strong>2</li>
            <li><strong>Time:</strong> 09:30</li>
            <li><strong>Qty:</strong> 1</li>
            <li>Slice Brown Bread + Lunch: 4-5 Chappatis + 50</li>
        </ul>
        <ul>
            <li><strong>Diet: </strong>3</li>
            <li><strong>Time:</strong> 13:00</li>
            <li><strong>Qty:</strong> 1</li>
            <li>gm Paneer with any Sab Mix Sprouts or Oats or</li>
        </ul>
        <ul>
            <li><strong>Diet: </strong>4</li>
            <li><strong>Time:</strong> 17:30</li>
            <li><strong>Qty:</strong> 1</li>
            <li>Gainer / Protein Shake Dinner: 3-4 Chhapati + 50</li>
        </ul>
        <ul>
            <li><strong>Diet: </strong>5</li>
            <li><strong>Time:</strong> 21:00</li>
            <li><strong>Qty:</strong> 1</li>
            <li>gm Panner with any Sab</li>
        </ul>
        <ul>
            <li><strong>Diet: </strong>6</li>
            <li><strong> Time:</strong> 22:30</li>
            <li><strong>Qty:</strong> 1</li>
            <li>Prepare Shake 1 Banana + 1 Glass Milk</li>
        </ul>
    </div>


    <div class="container d-flex row justify-content-center">
        <div class="card">
            <h2>Category: Eggetarian: Muscle Gain Diet Plan</h2>
            <p>Assigned Date 2021-09-17</p>
            <ul>
                <li><strong>Diet: </strong>1</li>
                <li><strong>Time:</strong> 07:00</li>
                <li><strong>Qty:</strong> 1</li>
                <li>2 Bananas + Dry Fruits</li>
            </ul>
            <ul>
                <li><strong>Diet: </strong>2</li>
                <li><strong>Time:</strong> 09:30</li>
                <li><strong>Qty:</strong> 1</li>
                <li>5 Slice of Brown Bread + 2
                    Boiled Eggs + 2 Egg Dis</li>
            </ul>
            <ul>
                <li><strong>Diet: </strong>3</li>
                <li><strong>Time:</strong> 13:00</li>
                <li><strong>Qty:</strong> 1</li>
                <li>Lunch: 100 Gm Paneer, Brown Rice / Roti /, Veg.sa</li>
            </ul>
            <ul>
                <li><strong>Diet: </strong>4</li>
                <li><strong>Time:</strong> 17:30</li>
                <li><strong>Qty:</strong> 1</li>
                <li>Mix Sprouts OR Peanut Butter with 4 Brown Bread +</li>
            </ul>
            <ul>
                <li><strong>Diet: </strong>5</li>
                <li><strong>Time:</strong> 17:30</li>
                <li><strong>Qty:</strong> 1</li>
                <li>3 - 5 Egg's Dish or 100gm
                    Paneer Dish + 2 -3 Roti</li>
            </ul>
            <ul>
                <li><strong>Diet: </strong>6</li>
                <li><strong>Time:</strong> 22:30</li>
                <li><strong>Qty:</strong> 1</li>
                <li>Fruit Shake Prepared from 2
                    Banana + Milk + Dry Fr</li>
            </ul>
        </div>