<div class="landing">
  <div class="back"></div>
  <div class="text-center heading">
    
<div class="bg-text">
  <h1>POWER, PERSEVERANCE, AND DISCIPLINE</h1>
  <p>MAKE YOURSELF STRONGER THAN YOUR EXCUSES</p>
  <p class="brand">Fitness Tracker</p>
</div>


    <h3 class="text">GYM POSTER</h3>
    <div class="container">
    

      <p class="content"> FitnessTracker GYM have a best trainer for Customer</p>

      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="/assets/img/coache-3.jpg" alt="Coache" style="width:100%">
            <div class="caption">
              <p>SENIOR TRAINER</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="/assets/img/coache-2.jpg" alt="Coache" style="width:100%">
            <div class="caption">
              <p> FEMALE COACHE </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="/assets/img/coache-1.jpg" alt="Coache" style="width:100%">
            <div class="caption">
              <p>JUNIOR TRAINEE</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>